*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
   position: relative;
   background: #f0f0f0;
   font-family:'roboto',sans-serif ;
}
#navbar{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 60px;
   background: #fff;
   display: flex;
   align-items: center;
   padding: 0 2.5vw;
   
   
}
#toggel{
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;
}
#toggel span{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: #979797;

}
#toggel span:nth-child(1){
    top: 0;
}
#toggel span:nth-child(3){
    top: 100%;
}
#logo{
    height: 70px;
    margin: -10px 30px 0;
    margin-top: 3px;
}
#search-box{
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
}
#query{
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
}
#user-search{
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
    cursor: pointer;
}
#user-search img{
    height: 100%;
}

#options{
    height:35px;
    display: flex;
    margin-left: auto;
    align-items: center;


}
#options #icon{
    height: 80%;
    margin-right: 20px;
    cursor: pointer;

}
#user-photo{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}
#user-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#results{
    
    display: grid;
    grid-template-columns: repeat(4,20%);
    grid-gap: 5%;
   
    }
    #box{
        margin-top: 100px;
    }

    #videoplay{
             /* border: 1px solid red; */
            
             width: 65%;
             height: 450px;
             margin: auto;
             margin-top: 100px;
    }
    #videoplay>iframe{
        height: 100%;
        width: 100%;
    }
    #videoplay>p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        margin-top: 10px;
    }
 #sort{
    background-color: blue;
    color: white;
    padding: 5px;
    text-align: center;
    margin-top: -10px;
 }